@import "tailwindcss";

@layer base {
  /* Custom base styles can be added here */
  body {
    background-color: #f9f9f9;
    color: #333;
  }
}
@theme {
    --color-bg-60: var(--color-60);
    --color-bg-30: var(--color-30);
    --color-accent-10: var(--color-10);
}